# Copyright 2018 The Gluster CSI Authors.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
#You may obtain a copy of the License at

#    http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# This YAML file contains attacher & csi driver API objects,
# which are necessary to run external csi provisioner for glusterfs.

kind: Service
apiVersion: v1
metadata:
  name: csi-provisioner-glusterfsplugin
  labels:
    app: csi-provisioner-glusterfsplugin
spec:
  selector:
    app: csi-provisioner-glusterfsplugin
  ports:
    - name: dummy
      port: 12345

---
kind: StatefulSet
apiVersion: apps/v1beta1
metadata:
  name: csi-provisioner-glusterfsplugin
spec:
  serviceName: "csi-provisioner-glusterfsplugin"
  replicas: 1
  template:
    metadata:
      labels:
        app: csi-provisioner-glusterfsplugin
    spec:
      serviceAccount: csi-provisioner
      containers:
        - name: csi-provisioner
          image: docker.io/k8scsi/csi-provisioner
          args:
            - "--provisioner=org.gluster.glusterfs"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
        - name: glusterfs
          image: docker.io/humblec/glusterfsplugin:v0.8
          args :
            - "--nodeid=$(NODE_ID)"
            - "--endpoint=$(CSI_ENDPOINT)"
          env:
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CSI_ENDPOINT
              value: unix://plugin/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /plugin
      volumes:
        - name: socket-dir
          emptyDir:
